Repository bellshade/SQL, pull requests merged in 2022-01, with the labels that each got.

#53 feat: Menambah materi Delete
  Basic/02_Data_Manipulation_Language/4_Menghapus_Data/README.md
Labels: enhancement, markdown files, request sql team untuk review

#55 feat: memperbaiki readme dan menambahkan tabel materi SQL
  README.md
Labels: enhancement, markdown files, request sql team untuk review

#54 feat:menambah materi alias
  Basic/05_SQL_Operator/5_Aliasing/README.md
Labels: Ok to merge, ready-to-merge, markdown files, sudah direview !, request sql team untuk review

#56 feat: menambahkan meteri limit
  Basic/05_SQL_Operator/6_Limit/README.md
Labels: Ok to merge, ready-to-merge, enhancement, markdown files, sudah direview !, request sql team untuk review
